<!-----------MAIN----------------------------------------------------->
    <!-----------Personal welcome and short introduction--------->
    <div class="vh-100">

        <div class="container h-100">
            <div class="row d-flex align-items-center h-100">
                <!--CARD A introduction-->
                <div class="col-md-6">
                    <div class="fade">
                        <div class="main-description">
                            <h1 class="mb-4 opacity-90" style="color: hsl(218, 81%, 95%);">Lukáš Děkanovský, PhD</h1>
                            <h5 class="mb-4 opacity-80" style="color: hsl(218, 81%, 90%);">Nanotechnology of semiconductors and python developer junior</h5>
                            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%);">This is my personal webpage demonstrating my key technological knowldge. Open for cooperation</p>
                        </div>
                        
                        <a href="" class="button_a" role="button"> 
                            <span style="font-weight: bold;">CV</span> 
                        </a>
                        <a href="" class="button_b" role="button" data-ripple-color="hsl(218, 41%, 45%)"> 
                            <span style="font-weight: bold;">Portfolio</span> 
                        </a>
                    </div>
                </div>
                <!--CARD B technologies-->
                <div class="col-md-4 offset-md-2 position-relative">
                    <div id="shape-1" class="position-absolute fade fade-delay-small"></div>
                    <div id="shape-2" class="position-absolute fade fade-delay-small"></div>
                    <div id="shape-3" class="position-absolute fade fade-delay-small"></div>

                    <div id="card-custom" class="card shadow-6 rounded-5 fade fade-delay-medium" data-tilt>
                        <div class="card-body p-5">
                            <h2>
                                <span class="card-description">Technologies</span>
                            </h2>
                        </div>
                        <div class="card-footer border-0 px-1">
                            <div class="container mb-5 mx-2 text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5><span class="card-description">Python</span></h5>
                                        <img src="../static/images/technologies/python.png" alt="" class="my-2" width="60px">
                                        <h5><span class="card-description">Django</span></h5>
                                        <img src="../static/images/technologies/django.png" alt="" class="my-2" width="60px">
                                        <h5><span class="card-description">HTML CSS</span></h5>
                                        <img src="../static/images/technologies/html-css-js.png" alt="" class="my-2" width="70px">
                                    </div>
                                    <div class="col">
                                        <h5><span class="card-description">AI</span></h5>
                                        <img src="../static/images/technologies/ai.png" alt="" class="my-2" width="60px">
                                        <h5><span class="card-description">Bootstrap</span></h5>
                                        <img src="../static/images/technologies/bootstrap.png" alt="" class="my-2" width="80px">
                                        <h5><span class="card-description">Flask</span></h5>
                                        <img src="../static/images/technologies/flask.png" alt="" class="my-2" width="85px">
                                    </div>
                                    <div class="col">
                                        <h5><span class="card-description">GitHub</span></h5>
                                        <img src="../static/images/technologies/github.png" alt="" class="my-2" width="110px">
                                        <h5><span class="card-description">SQL</span></h5>
                                        <img src="../static/images/technologies/sql.png" alt="" class="my-2" width="75px">
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>